spring:
  profiles:
    active: local

  application:
    name: incial-backend

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: https://milestone-tracker-f3or.onrender.com/login/oauth2/code/{registrationId}
            scope:
              - profile
              - email

# ===========================
# JWT Configuration
# ===========================
jwt:
  secret: ${JWT_SECRET}

# ===========================
# Logging
# ===========================
logging:
  level:
    com.incial.crm: DEBUG
    org.springframework.security: DEBUG

# ===========================
# Env Printer
# ===========================
env:
  printer:
    enabled: true
    endpoint-enabled: true
